language: ruby
env:
  - DB=postgresql
script:
  - RAILS_ENV=test bundle exec rake db:migrate --trace
  - bundle exec rake
before_script:
  - nvm install 0.10.37
  - cp config/database.yml.example config/database.yml
  - cp config/secrets.yml.example config/secrets.yml
  - psql -c 'create database openassessments_test' -U postgres
addons:
  postgresql: 9.4
notifications:
  slack:
    secure: jEoICshI8S2R/QgcaE2s2jII/gQIZcAjbE/BPS79fCPO/n1UkhLp9dvOXIl3gfCa6RCQ/VHurwpKp/V2Baz08jPzlKpcbEjQpdLzGFNekq6F/hJAcYJSxjpX2uG+0VnsAEPt4BBGv+XN66UoVsisycR9ZokzIbxBB8d1aZ1RPxQW0vW696HcdPF1XeMMY1hGHLInzAJ/hhPu1Pdp/xw4GjODqEy1/s2bNXhbJoP38DAUm+UTKAfHo+s6E8MrAmyfCUPH77JXagS/ydfxe/PZiOpJzyqyoXWvg0E6wrGiA5t+V7pvgQen2zqik1IcUaCyxmdMMP8JCYZtIjnK8SAHJYD5UigXWP+Zznfc+oUOsmpsrxcZJj35DoCFl7UiL6pHjSBdam0GpaW5feczMfHwkLUZksImfJ6o0aC6qF4TVUb8Po716Q9zmC1uupuDg0/0adPNE8gMs28CSIncsPtZM9HMzETF/G4BOdsSin712Pgd7vPqrhSN7jH+80Q9q0+sXuM1atxtqzOXxHnPA+F2JBG4xsyiidHvrv3vykENcMaXvBy0nj+ltKq6rXPlgW3T4wEMD+eeEyeI2xb5c7foDzaMkcMG181D7dB/NRCscXa/uejXdMlN1L2RzkMTSiuxcard0QCJgoJeRqhv/oGkVvoq4yNMEhcn2I2QpAO9ATE=
before_deploy:
  - echo 'Copying example files'
  - find . -type f -name *.example | while read file; do cp "$file" "${file%.example}"; done
  - cd client; npm install; cd ..
  - cd client; npm install es6-promise@3.0.2 reactable@0.10.2 moment@2.10.6 react-tinymce@0.2.3 less-loader@2.2.0 json5@0.4.0; cd ..
  - npm install -g webpack@1.10.1
  - RAILS_ENV=production bundle exec rake assets:webpack
  - RAILS_ENV=production bundle exec rake assets:precompile
  - rm -rf vendor/bundle
  - git add --force config/
  - git add --force public
  - git commit -m 'release to beanstalk'
deploy:
  - provider: elasticbeanstalk
    skip_cleanup: true
    access_key_id: AKIAIPYAEDJMYGYMFXUA
    secret_access_key:
      secure: "HDK4aZ4K3+Ctn2d+8yMEFc2OkP/lOKKoKbkj70G+So66C67nyE7jB9xqThxzr5x/nFpkow12lBhex8J1jIddP4avMAIdVpkEPYTBuXyz3ea7AQtMCEDMojusLJJ7rAe75oGxCbpGPYG5M2qKP/H2Q/DM+/Requ+n/26nofM3E6w="
    region: us-west-2
    app: OpenAssessments-stg
    env: openassessments-stg2
    bucket_name: elasticbeanstalk-us-west-2-725843923591
    on:
      repo: lumenlearning/OpenAssessments
      branch: staging
  - provider: elasticbeanstalk
    skip_cleanup: true
    access_key_id: AKIAIK5IL7PFT7LRSUBQ
    secret_access_key:
      secure: "QJMElA3gztJDTnw3Dd5MU1h4m4BN1RB3m/5eT2AoSfcmsF69KV3jlaNNGsYXW59vfF9o0cKOYBBnyowytOoQ6VjWjXk5M3Su4oC60/HBr8UQxH/IawiMGdIcBoyR16kBk/lyuH6p0llIyhtuHpXbwqJ0d51uarhEDdWdIPbgVuQ="
    region: us-west-2
    app: OpenAssessments
    env: openassessments-prod
    bucket_name: elasticbeanstalk-us-west-2-523740042085
    on:
      repo: lumenlearning/OpenAssessments
      branch:
        - /^master$/
        - /^\d{1-2}\.\d+\.d+[-\w]$/
