language: ruby
env:
- DB=postgresql
script:
- RAILS_ENV=test bundle exec rake db:migrate --trace
- bundle exec rake
before_script:
- cp config/database.yml.example config/database.yml
- psql -c 'create database openassessments_test' -U postgres
addons:
  postgresql: 9.4
notifications:
  slack:
    secure: jEoICshI8S2R/QgcaE2s2jII/gQIZcAjbE/BPS79fCPO/n1UkhLp9dvOXIl3gfCa6RCQ/VHurwpKp/V2Baz08jPzlKpcbEjQpdLzGFNekq6F/hJAcYJSxjpX2uG+0VnsAEPt4BBGv+XN66UoVsisycR9ZokzIbxBB8d1aZ1RPxQW0vW696HcdPF1XeMMY1hGHLInzAJ/hhPu1Pdp/xw4GjODqEy1/s2bNXhbJoP38DAUm+UTKAfHo+s6E8MrAmyfCUPH77JXagS/ydfxe/PZiOpJzyqyoXWvg0E6wrGiA5t+V7pvgQen2zqik1IcUaCyxmdMMP8JCYZtIjnK8SAHJYD5UigXWP+Zznfc+oUOsmpsrxcZJj35DoCFl7UiL6pHjSBdam0GpaW5feczMfHwkLUZksImfJ6o0aC6qF4TVUb8Po716Q9zmC1uupuDg0/0adPNE8gMs28CSIncsPtZM9HMzETF/G4BOdsSin712Pgd7vPqrhSN7jH+80Q9q0+sXuM1atxtqzOXxHnPA+F2JBG4xsyiidHvrv3vykENcMaXvBy0nj+ltKq6rXPlgW3T4wEMD+eeEyeI2xb5c7foDzaMkcMG181D7dB/NRCscXa/uejXdMlN1L2RzkMTSiuxcard0QCJgoJeRqhv/oGkVvoq4yNMEhcn2I2QpAO9ATE=
