hr {
  margin: 0;
}

.react-accordionlly-section-title-wrapper {
  cursor: pointer;
  width: 100%;

  display: -moz-box;
    -moz-box-orient: horizontal;
    -moz-box-pack: center;
    -moz-box-align: center;
  display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;

  user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.react-accordionlly-section-title {
  /* POSITION */
  display: inline-block;
  vertical-align: middle;
  margin: 0;

  /* TEXT STYLING */
  font-size: 1em;
  font-weight: bold;
  letter-spacing: .15em;
  margin: 12px 0;
  text-transform: uppercase;
}

.space {
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
}

.react-accordionlly-section-title-toggle-indicator {
  display: inline-block;
  vertical-align: text-top;
  align: right;
}
