default: &default
  adapter: postgresql
  encoding: unicode
  # For details on connection pooling, see rails configuration guide
  # http://guides.rubyonrails.org/configuring.html#database-pooling
  pool: 5

development:
  <<: *default
  database: openassessments_development

test:
  <<: *default
  database: openassessments_test

production:
  <<: *default
  database: <%= ENV['RDS_DB_NAME'] || ENV['DB_NAME'] %>
  username: <%= ENV['RDS_USERNAME'] || ENV['DB_USERNAME'] %>
  password: <%= ENV['RDS_PASSWORD'] || ENV['DB_PASSWORD'] %>
  host: <%= ENV['RDS_HOSTNAME'] || ENV['DB_SERVER'] %>
  port: <%= ENV['RDS_PORT'] || 5432 %>

