# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.
Defaults: &defaults

  admin_name: Administrator
  admin_email: admin@example.com
  admin_password: changeme

  canvas_url: 'https://atomicjolt.instructure.com'
  encryption_key: '<Run rake secret to get a value to put here>'

  # Main application settings
  application_code: <%= ENV["APP_SUBDOMAIN"] || "canvasstarterapp" %>
  application_name: <%= ENV["APP_NAME"] || "Canvas Starter App" %>
  application_url: <%= "#{ENV['APP_SUBDOMAIN']}.#{ENV['APP_URL']}" || "lvh.me" %>

  # LTI Settings
  lti_tool_name: <%= ENV["LTI_TOOL_NAME"] || "Canvas Starter App" %>
  lti_tool_description: <%= ENV["LTI_TOOL_DESCRIPTION"] || "An example LTI application" %>
  lti_launch_domain: <%= ENV["APP_URL"] || "canvasstarterapp.com" %>

  # Email Settings
  domain_name: <%= ENV["APP_URL"] || "canvasstarterapp.com" %>
  email_provider_username: admin@example.com
  email_provider_password: changeme

  # Assets (webpack server in dev mode)
  assets_url: <%= ENV["ASSETS_URL"] || "http://localhost:8080" %>

  #Request a Canvas id and secret from https://docs.google.com/forms/d/1C5vOpWHAAl-cltj2944-NM0w16AiCvKQFJae3euwwM8/viewform
  canvas_id: 
  canvas_secret: 

  auth0_client_id: canvas_starter_app
  auth0_client_secret: '<Run rake secret to get a value to put here>'

  # MOM embed secrets
  mom_key: sharedkey
  mom_secret: sharedsecret
  mom_base_url: https://ohm.lumenlearning.com/OEAembedq.php

development:
  <<: *defaults

  secret_key_base: '<Run rake secret to get a value to put here>'

test:
  <<: *defaults

  secret_key_base: '<Run rake secret to get a value to put here>'

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  <<: *defaults

  # LTI Settings
  lti_launch_domain: <%= ENV["APP_URL"] || "openassessments.com" %>

  domain_name: <%= ENV["DOMAIN_NAME"] %>
  email_provider_username: <%= ENV["EMAIL_PROVIDER_USERNAME"] %>
  email_provider_password: <%= ENV["EMAIL_PROVIDER_PASSWORD"] %>
  email_provider_address: <%= ENV["EMAIL_PROVIDER_ADDRESS"] %>

  secret_token: <%= ENV["SECRET_TOKEN"] %>
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>

  canvas_url: <%= ENV["CANVAS_URL"] %>

  encryption_key: <%= ENV["ENCRYPTION_KEY"] %>

  # https://assessments.lumenlearning.com/auth/canvas/callback
  canvas_id: <%= ENV["CANVAS_ID"] %>
  canvas_secret: <%= ENV["CANVAS_SECRET"] %>

  auth0_client_id: <%= ENV["AUTH0_CLIENT_ID"] %>
  auth0_client_secret: <% ENV["AUTH0_CLIENT_SECRET"] %>

  # quiz attempts analytics server
  analytics_server: <%= ENV["ANALYTICS_SERVER"] %>
  analytics_auth_token: <%= ENV["ANALYTICS_AUTH_TOKEN"] %>

  new_relic_license_key: <%= ENV["NR_INSTALL_KEY"] %>

  # MOM embed secrets
  mom_key: <%= ENV["MOM_KEY"] %>
  mom_secret: <%= ENV["MOM_SECRET"] %>
  mom_base_url: <%= ENV["MOM_BASE_URL"] %>

