@import 'defines';
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'items';
@import "draggables";
@import "themes/lumen";

body{
  font-family: 'News Cycle', sans-serif;
}

.correctAns option{
  background-color: #4EAA59;
}

.wrongAns option{
  background-color: #e0542b;
}