<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/global/head' %>
    <%= stylesheet_link_tag "bare", media: "all" %>
  </head>
  <body>
    <%= yield %>
    <%= javascript_include_tag 'app_web_pack_bundle' %>
  </body>
</html>
