@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:400,600');

body {
    font-family: 'Libre Franklin', sans-serif !important;
}

#attempts_table {
    min-width: 600px;
}
#attempts_table tr {
    border: 1px solid #D2D2D2;
}
#attempts_table th.reactable-header-sortable,
#attempts_table th.reactable-header-sort-asc,
#attempts_table th.reactable-header-sort-desc {
    cursor: pointer;
}
#attempts_table th.reactable-header-sortable::after {
    content: '\25BD';
    font-size: 8px;
    padding-left: 5px;
}
#attempts_table th.reactable-header-sort-asc::after {
    content: '\25BC';
    font-size: 8px;
    padding-left: 5px;
}
#attempts_table th.reactable-header-sort-desc::after {
    content: '\25B2';
    font-size: 9px;
    padding-left: 5px;
}
#attempts_table th,
#attempts_table tr td {
    text-align: center;
}
#attempts_table .reactable-filterer td {
    text-align: left;
}
#attempts_table .reactable-filterer input {
  width: 30em;
  height: 3em;
}
#attempts_table tr:nth-of-type(even){
  background:#F9F9F9
}
#attempts_table button{
  margin-bottom: 4px;
  margin-top: 4px;
}

.question_text strong{
  font-size: 21px;
}

.lti-bottom-nav-buttons {
  height: 38px;
  margin-bottom: 30px;
  padding: 30px 0 0 0;
  border-top: 1px solid #6d6d6d;
  text-align: center;
}
.page-nav-btn {
  font-size: 10pt;
  font-weight: 600;
  color: #077fab;
  text-decoration: none;
  border: 2px solid #077fab;
  border-radius: 7px;
  padding: 5px 25px;
  width: 135px;
  text-align: center;
}
.lti-nav-btn {
  font-size: 10pt;
  font-weight: 600;
  color: #077fab;
  text-decoration: none;
  border: 2px solid #077fab;
  border-radius: 7px;
  padding: 5px 25px;
  width: 135px;
  text-align: center;
  background-color: transparent;
}
.lti-btn-text {
  display: block;
}
.lti-btn-arrow {
  display: none;
}
#lti-prev {
  float: left;
  width: 130px;
}
#lti-next {
  float: right;
  width: 130px;
}
#study-plan {
  display: inline-block;
  margin: 0 auto;
}
#prev {
  float: left;
}
#next {
  float: right;
}
.react-accordionlly-section-body {
  background-color: #F5F5F5;
}
.mce-content-body {
  font-size: 16px;
}
